<html>
<head>
   <title>添加作者</title>
   <style>
	body{background-image:url(images/background.jpg);}
   </style>
</head>
<body><center>
   <form method="GET" aciton="">
      <table border=1>
      <tr>
      <td>Author's Name</td><td>Age</td><td>Country</td>
      </tr>
      <tr>
      <td><input type="text" name="auname"></td>
      <td><input type="text" name="auage"></td>
      <td><input type="text" name="aucountry"></td>
      <a href="/manage/"><td><input type="submit" name="adds" value="添加"></td></a>
      </tr>
      </table>
   </form>
   <p><a href="/manage/">返回</a></p>
</center></body>
</html>