<html>
<head>
   <title>添加书目</title>
</head>
<body><center>
   <p>添加书目</p>
   <form method="GET" aciton="">
      <table border=1>
      <tr>
      <td>ISBN</td><td>Title</td><td>Author's Name</td><td>Publisher</td><td>Publish Date</td><td>Price</td>
      </tr>
      <tr>
      <td><input type="text" name="tisbn"></td>
      <td><input type="text" name="ttitle"></td>
      <td><input type="text" name="tauthor_name"></td>
      <td><input type="text" name="tpublisher"></td>
      <td><input type="text" name="tdate"></td>
      <td><input type="text" name="tprice"></td>
      <td><input type="submit" name="adds" value="添加"></td>
      </tr>
      </table>
   </form>
   <p><a href="/home/">返回</a></p>
</center></body>
</html>